* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-behavior: smooth;
}
